<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenerativeAI</title>
</head>
<body>
    <h1>GenerativeAI Demo</h1>
    <form action="/generate" method="post">
        <label for="input_text">Enter the data: (hypertension or diabetes or etc..): </label><br>
        <textarea id="input_text" name="input_text" rows="4" cols="50"></textarea><br>
        <button type="submit">Generate</button>
    </form>
    {% if generated_text %}
    <h2>Generated Text:</h2>
    <p>{{ generated_text }}</p>
    {% endif %}
</body>
</html>
